<div class="panel panel-default nav" ng-controller="LeftNavCtrl">
    <div class="font-bold navbar_title">
        <i class="{{curSystem.icon}}"></i> {{curSystem.name}}
        <i class="fa fa-angle-double-right cur nav_arrow mr" ng-if="isNavDown==false" ng-click="downNav()"></i>
        <i class="fa fa-angle-double-down cur nav_arrow mr" ng-if="isNavDown==true" ng-click="downNav()"></i>
    </div>
    <!--在响应式设计里边，小屏幕设备展示的效果-->
    <div class="panel-body" ng-if="isNavDown==true">
        <nav class="navi ng-scope">
            <ul class="nav ng-scope">
                <li class="line dk"></li>
                <li class="{{(leftNavMenu.active=='true'|| curNavSystem.key==leftNavMenu.key)?'active nav_active':''}} {{leftNavMenu.type=='line'?'line dk hidden-folded':''}} {{leftNavMenu.open?'navopen':''}} " ng-repeat="leftNavMenu in curSystem.allMenus" ng-show="navMenu.showMenu!='false'">
                    <a href="" class="auto" ng-if="leftNavMenu.type!='line'" ng-click="selectNav(leftNavMenu)">
                       <span class="pull-right text-muted">
                            <i class="fa fa-fw fa-angle-right text" ng-if="!leftNavMenu.open"></i>
                            <i class="fa fa-fw fa-angle-down text-active" ng-if="leftNavMenu.open"></i>
                        </span>
                        <i class="{{leftNavMenu.icon}}"></i>
                        <span class="font-bold ng-scope" translate="aside.nav.DASHBOARD">{{leftNavMenu.name}}</span>
                    </a>
                    <ul class="nav nav-sub dk " ng-if="leftNavMenu.open&&leftNavMenu.type!='line'" >
                        <li class="nav_bar_li {{(navMenu.active=='true'|| curNavSystem.key==navMenu.key)?'nav-sub-header active nav_active':''}}" ng-repeat="navMenu in leftNavMenu.menus"  ng-click="selectNav(navMenu)" ng-show="navMenu.showMenu!='false'">
                            <a href="">
                                <i class="{{navMenu.icon}}" ng-if="leftNavMenu.open"></i>
                                <span class="ng-scope" translate="aside.nav.DASHBOARD">{{navMenu.name}}</span>
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
        </nav>
    </div>

    <!--在响应式设计里边，大屏幕设备展示的效果-->
    <div class="panel-body nav_body">
        <nav class="navi ng-scope">
            <ul class="nav ng-scope">
                <li class="line dk"></li>
                <li class="{{(leftNavMenu.active=='true'|| curNavSystem.key==leftNavMenu.key)?'active nav_active':''}} {{leftNavMenu.type=='line'?'line dk hidden-folded':''}} {{leftNavMenu.open?'navopen':''}} " ng-repeat="leftNavMenu in curSystem.allMenus" ng-show="navMenu.showMenu!='false'">
                    <a href="" class="auto" ng-if="leftNavMenu.type!='line'" ng-click="selectNav(leftNavMenu)">
                       <span class="pull-right text-muted">
                            <i class="fa fa-fw fa-angle-right text" ng-if="!leftNavMenu.open"></i>
                            <i class="fa fa-fw fa-angle-down text-active" ng-if="leftNavMenu.open"></i>
                        </span>
                        <i class="{{leftNavMenu.icon}}"></i>
                        <span class="font-bold ng-scope" translate="aside.nav.DASHBOARD">{{leftNavMenu.name}}</span>
                    </a>
                    <ul class="nav nav-sub dk" ng-if="leftNavMenu.open&&leftNavMenu.type!='line'" >
                        <li class="nav_bar_li {{(navMenu.active=='true'|| curNavSystem.key==navMenu.key)?'nav-sub-header active nav_active':''}}" ng-repeat="navMenu in leftNavMenu.menus"  ng-click="selectNav(navMenu)" ng-show="navMenu.showMenu!='false'">
                            <a href="">
                                <i class="{{navMenu.icon}}" ng-if="leftNavMenu.open"></i>
                                <span class="ng-scope" translate="aside.nav.DASHBOARD">{{navMenu.name}}</span>
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
        </nav>
    </div>
</div>