<div class="head_logo_bar" ng-controller="TopHeadCtrl">
    <div class="container">
        <div class="row col-lg-12">
            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-8">
                <span class="logo">{{project.name}}</span>
            </div>

            <div class="col-lg-10 col-md-9 col-sm-8 col-xs-4">
                <div class="row col-lg-12 top_bar">
                    <div class="btn-group top_bar_item cur ml list-alt">
                        <a class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-list"></i> </a>
                        <ul class="dropdown-menu text_align_center" role="menu">
                            <li role="presentation" ng-repeat="topMenu in topMenus"><a role="menuitem" href="javascript:void(0);" ng-click="selectSystem(topMenu)">{{topMenu.name}}</a></li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#"> <i class="active_arrow"></i> 退出</a></li>
                        </ul>
                    </div>

                    <div class="top_bar_item ml {{topMenu.active=='true'||curSystem.key==topMenu.key?'top_bar_item_active':''}}" ng-repeat="topMenu in topMenus">
                        <div >
                            <a href="javascript:void(0);" ng-click="selectSystem(topMenu)" class="top_menu_item">
                               <span>{{topMenu.name}}</span>
                            </a>
                        </div>
                        <div >
                            <i class="active_arrow"></i>
                        </div>
                    </div>

                    <div class="top_bar_item mr power-off btn-group">
                        <span class="user_info cur dropdown-toggle" data-toggle="dropdown">
                            <span>尼欧 <i class="fa fa-sort-down"></i> </span>
                            <img src="img/photos/b0.jpg" class="top_photos">
                        </span>
                        <ul class="dropdown-menu self_lnfo_list text_align_center" role="menu">
                            <li class="dropdown-header ng-binding">
                                超级管理员
                            </li>
                            <li class="divider"></li>
                            <li><a href="#">个人信息</a></li>
                            <li><a href="#">办公资产</a></li>
                            <li><a href="#">参数设置</a></li>
                            <li class="divider"></li>
                            <li><a href="#"><!--<i class="fa fa-power-off"></i>--> 退出</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
